.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: $green-color;
  padding: 15px 0;
  transition: background 0.5s ease-in-out;

  &.shrink {
    background-color: $bg-main-color;
    padding: 10px 0;
    border-bottom: 2px solid $bg-second-color;
  }
}

.navigation {
  @include flex(center, space-between);
  font-size: 1.4rem;

  &__name {
    color: $txt-main-color;

    @include tablet {
      display: none
    }
  }

  &__links {
    @include flex(center, space-between);
    gap: 15px;  

    & > a {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      color: $txt-main-color;
      border-radius: 2px;
      padding: 5px 10px;
      border: 1px solid $txt-main-color;
      transition: color 0.3s ease, background-color 0.3s ease, font-size 0.2s ease-in-out;

      .link_copy {
        display: none;
        margin-left: 2px;
      }

      &:hover {
        color: $green-color;
        background-color: $txt-main-color;

        & .link_copy {
          display: block;
          color: $green-color;
          animation: fadeAndScale 0.5s ease forwards;
        }
      }
    }

    &.shrink > a {
      font-size: 1.2rem;
      color: $txt-second-color;
      border: none;

      &:hover {
        color: $green-color;
        background-color: $txt-main-color;
      }
    }

    @include tablet {
      margin-left: auto;
    }

    @include mobile {
      width: 100%;

      & > a > .link_label {
        display: none;
      }

      & > a {
        width: 100%;
        @include flex(center, center);
      }
    }
  }
}


@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}